*{
    margin: 0 0;
    padding: 0 0;
    font-family: Avenir Next;
}

:root{
    --light-color: #C70037;
    --dark-color: #6F2036;
    --border-size: 2px;
    --border-radius: 7px;
}

.container{
    display: grid;
    grid-gap: 20px;
    place-items: center;
}

.bordered{
    background: transparent !important;
    border-color: var(--dark-color) !important;
}

.border-light{ border-color: var(--light-color) !important; }
.border-light:hover, 
input:valid.border-light{
    background-color: var(--light-color) !important;
    color: hsl(0,0%,30%) !important;
}

.border-dark{ border-color: var(--dark-color) !important; }
.border-dark:hover, 
input:valid.border-dark, 
.background-dark, 
.background-dark:hover {
    background-color: var(--dark-color) !important;
    color: hsl(0,0%,100%) !important;
}

.weather-container{
    position: fixed;
    --height: 5px;
    z-index: -2;
    height: var(--height);
    width: 50vw;
    top: unset;
    bottom: calc(-1 * var(--height));
    animation: rotate 80s linear infinite;
    transform-origin: 100% 0%;
    filter: blur(400px);
}

.weather{
    height: 800px;
    width: 800px;
    border-radius: 50%;
    transition: 10s;
    opacity: 0.8;
    background: transparent;
}

.link {
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;

    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.tab-buttons{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    justify-items: end;
    
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.tab-button {
    padding: 7px 30px;
    font-size: 13px;
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    border-radius: 5px;
}

.tab-button:first-child{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.tab-button:last-child{
    justify-self: start;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tab-button:hover, .tab-button[data-active=true] {
    background-color: var(--dark-color);
    color: white;
    cursor: default;
}

.tab-button:hover[data-active=false] {
    cursor: pointer;
    color: var(--dark-color);
    background-color: rgb(227, 227, 227);
}

.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.stretch-x {
    grid-column: 1/-1;
}

body{
    display: grid;
    height: 100vh;
    width: 100vw;
    place-items: center;
}

.form-container{
    position: relative;
    display: grid;
    grid-gap: 20px;
    place-items: center;
    min-width: 300px;
    margin-top: -50px;
    background: white;
    padding: 80px 40px 40px 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.title-tag{
    position: absolute;
    top: 0px;
    justify-self: center;
    background: var(--dark-color);
    color: white;
    padding: 7px 30px;
    font-weight: 500;
    letter-spacing: -1.3px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.button{
    color: var(--dark-color);
    padding: 0.9em 2.2em;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    background: var(--light-color);
    border: var(--border-size) solid transparent;
    transition: 0.2s all;
    box-sizing: border-box;

    justify-self: end;

    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.button:hover{
    background-color: hsl(210, 20%, 86%);
    color: hsl(0,0%,30%);
    transform: scale(1.03);
}

copyright{
    font-size: 0.8em;
    font-weight: 400;
    display: grid;
    place-content: center;
    position: absolute;
    bottom: 10px;
    width: 100vw;
    justify-self: center;
}

.signup-container, .teacher-form {
    display: none;
}

/* LOGIN INPUTS */

.text-box {
    position: relative;
    display: grid;
    width: 100%; 
}

.text-box > input{
    position: relative;
    color: var(--dark-color);
    padding: 0.9em 1.3em;
    border-radius: var(--border-radius);
    font-weight: 400;
    text-align: left;
    background: var(--light-color);
    border: var(--border-size) solid transparent;
    transition: 0.4s all;
    box-sizing: border-box;
    outline: none;
    font-size: 1em;
    min-width: 200px;
    width: 100%;
    letter-spacing: 0.3px;
}

.profile-picture-container{
    display: grid;
    width: 100%;
    justify-items: center;
    grid-gap: 10px;
}

#chosenPhoto {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px dashed black;
    cursor: pointer;
}

#signupImageInput{
    display: none;
}

.profile-picture-container > span {
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 1.7px;
    font-weight: 600;
    cursor: pointer;
}


.outer-container {
    position: relative;
    display: grid;
}

.bubble-message-container {
    position: absolute;
    padding: 8px 20px;
    border-radius: 5px;
    color: var(--dark-color);
    font-weight: 600;
    font-size: 0.8em;
    top: 0%;
    place-self: center;
    text-align: center;
    background: white;
    transition: 0.6s;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

}   

.logo-container {
    width: 100%;
    display: grid;
    justify-items: center;
}

.logo-container img {
    width: 100%;
    max-width: 300px;
}

.wrapper {
    display: grid;
    grid-gap: 100px;
}


@keyframes rotate {
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}