.outer-main-classroom-container {
    display: grid;
    grid-gap: 40px;
}

.main-classroom-lecture-container{
    display: grid;
    width: 100%;
    grid-gap: 26px;
    grid-template-rows: auto 1fr;
    color: var(--dark-gray);
}

.main-classroom-lecture-header,
.main-classroom-subtopic-header{
    border: 1px solid var(--medium-gray);
    border-radius: 7.5px;
    padding: 10px 13px;
    font-size: 0.9em;
    color: var(--dark-gray);
    font-weight: 500;
    background: var(--off-white);
}

.main-classroom-lecture-inner-container{
    display: grid;
    width: 100%;
    padding: 0px 0px 30px 30px;
    grid-gap: 26px;
    border: 1.3px dashed var(--medium-gray);
    border-right: none;
    border-top: none;
    border-bottom-left-radius: 10px;

}

.main-classroom-subtopic-container, 
.main-classroom-quiz-container{
    display: grid;
    border-radius: 7.5px;
    overflow: hidden;
    border: 1px solid var(--medium-gray);            
}

.main-classroom-subtopic-header{
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid var(--medium-gray);
}

.main-classroom-subtopic-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    padding: 10px;
    border-bottom: 1px solid var(--medium-gray);
    align-items: center;
}

.main-classroom-subtopic-item:last-child{
    border-bottom: none;
}

.row-item-icon {
    width: 26px;
    height: 100%;
    display: grid;
    align-items: center;
}

.row-item-icon img {
    width: inherit;
}

.row-item-text{
    font-size: 0.9em;
    font-weight: 600;
}

.row-item-action {
    background: var(--pop);
    color: white;
    padding: 6px;
    text-align: center;
    border-radius: 7.5px;
    cursor: pointer;
    font-size: 0.9em;
    width: 85px;
    border: 1.5px solid #A02748;
}

.quiz-action {
    background-color: #1E883E;
    border-color: #1E883E ;
}