.lecture-section {
    display: grid;
    column-gap: 40px;
    grid-template-columns: auto 1fr;
    position: relative;
}

.edit-course-container{
    overflow: scroll;
    /* padding-bottom: 100px !important; */
}

#course-grid-container{
    grid-gap: 100px;
    padding-bottom: 100px;
    min-height: 80vh;
    align-items: start;
    counter-reset: course-outline-counter;
}

.itemization {
    color: var(--accent);
    font-size: 2em;
    grid-column: 1;
}

.lecture-inner-container {
    display: grid;
    grid-gap: 20px;
    position: relative;
}

.input-element input{
    border: 1.5px solid var(--accent);
    border-radius: 5px;
    padding: 13px;
    font-size: 1em;
    width: 100%;
    color: var(--accent);
    outline: none;
}

.lecture-inner-container .input-element {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    grid-gap: 20px;
    align-items: center;
    position: relative;
    
}

.subtopics-container {
    display: grid;
    width: calc(100% - 50px);
    justify-self: end;
    grid-gap: 20px;
    position: relative;
}

.lecture-floating-container{
    position: absolute;
    top: 100%;
    margin-top: 20px;
    background: transparent;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
}

.add-subtopic-button, .delete-button{
    background: var(--accent);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-left: 50px;
}

.add-subtopic-button {
    border: 3px solid var(--accent);
    opacity: 0.4;
    transition: 0.3s all;
    cursor: pointer;
}.add-subtopic-button:hover { 
    background: var(--accent); 
    opacity: 1;
}

/* generate-quiz-button */
#excelUploadButton {
    background: white;
    border: 2px solid #2F7D31;
    border-radius: 5px;
    display: grid;
    padding: 9px;
}

#excelUploadButton div {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    color: #2F7D31;
    font-weight: 600;
    align-items: center;
}

#excelUploadButton img {
    height: 20px;
}

#excelCourseFileUpload {
    display: none;
}

.generate-pdf-button, .attachments-button {
    background: var(--accent);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-left: 50px;
}

.delete-button, .generate-pdf-button, .attachments-button {
    margin-left: 0px;
    justify-self: unset;
    background: var(--accent);
    height: 30px;
    width: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.delete-button img, .generate-pdf-button img, .attachments-button img{
    height: 15px;
    width: 15px;
    filter: invert(100%); 
}

.attachments-button img { transform: rotate(40deg); }

.badge {
    position: absolute;
    right: -15px;
    top: -15px;
    font-size: 13px;
    background: var(--accent);
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.upload-options-container{
    border: 1px solid red;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.upload-option{
    display: grid;
    place-items: center;
    grid-gap: 10px;
}

.circular-wrapper{
    width: 50px;
    height: 50px;
    border: 2px solid var(--accent);
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.upload-option img {
    height: 20px;
    width: 20px;
}

.upload-progress-container{
    display: none;
    width: 100%;
}

.filename-container {
    border: 2px solid var(--border-shade);
    padding: 13px 18px;
    font-size: 13px;
    color: var(--accent);
    display: grid;
    align-items: center;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.filename-container .progress{
    position: absolute;
    top: calc(100% - 2px);
    height: 2px;
    background: var(--accent);
    width: 0%;
    left: 0;
    transition: 2s all;
}

/* Course Main Page */

.header-combo {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 30px;
}

.course-view-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

.course-view-container, .container-message {
    display: grid;
    height: 100%;
    width: 100%;
}

.container-message {
    border: 2px solid var(--accent);
    place-items: center;
    border-radius: 10px;
    background: #FFF7F9;
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.container-message.blank{
    border: none;
    background: transparent;
}

.large-message{
    font-size: 2em;
    font-weight: 200;
    color: var(--accent);
}

/* .course-view-container > div {
    display: grid;
    place-items: center;
    grid-gap: 20px;
} */

/* Course Overlay */

    .course-form{
        width: 100%;
        display: grid;
        grid-gap: 20px;
    }

    .course-upload-input {
        height: 100%; /*Fix for Edge*/
        width: 61px; /* Fix for some browsers */
        aspect-ratio: 1/1; /*Fix for some browsers*/
        border: 2px dashed var(--accent);
        border-radius: 5px;

        display: grid;
        overflow: hidden;
        position: relative;
    }
    
    .over-wrapper {
        position: absolute;
        background: var(--dark-accent);
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
    }

    .over-wrapper img{
        height: 30px;
    }

    .course-image-view {
        height: 100%;
        width: 100%;
        display: grid;
        overflow: hidden;
        position: relative;
    }

    .course-image-view img {
        position: absolute;
        width: inherit;
        min-height: 100%;
    }



/* Edit Learning Objectives */

.add-learning-objective-button {
    background: var(--accent);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: grid;
    place-items: center;
    opacity: 0.6;
    transition: 0.3s;
}.add-learning-objective-button img{
    height: 11px;   
    filter: invert(100%);
    cursor: pointer;
}.add-learning-objective-button:hover{
    opacity: 1;
    transform: scale(1.13);
}

.edit-learning-objectives-overlay .popup {
    display: grid;
    align-content: start;
}

.popup-body {
    /* border: 1px solid red; */
}

.outer-objective-container {
    counter-reset: learning-objectives-counter;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    /* border: 1px solid red; */
}

.objective-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    align-items: center;
}

.objective-itemization {
    color: gray;
    font-size: 1em;
    width: 20px;
    counter-increment: learning-objectives-counter;
}

.objective-itemization::before{
    content: counter(learning-objectives-counter) ".";
}

.objective-text {
    color: gray;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 13px;
    outline: none;
}

.objective-container .delete-button {
    opacity: 1;
}