.exams-container {
  width: 100%;
}

.exam-item {
  background-color: #fff;
  border: 2px solid var(--border-fade);
  padding: 20px;
  border-radius: 10px;
  color: #6f2036;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.teacher-exam-add-button {
  background-color: #f3f3f3;
  border: 2px solid var(--border-fade);
  color: #6f2036;
  cursor: pointer;
  padding: 10px;
  padding-bottom: 8px;
  border-radius: 100%;
  transition: transform 0.3s ease;
}

.teacher-exam-add-button svg {
  fill: #6f2036;
}

.teacher-exam-add-button:hover {
  transform: scale(1.05);
}

.exam-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
  transition: transform 0.3s ease;
}

/* Modal content */
.exam-modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 80%;
  max-height: 90%;
  height: auto;
  overflow-y: auto;
}

/* Close button */
.exam-modal-close {
  margin-top: -10px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.exam-modal-close:hover,
.exam-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.exam-modal-title {
  color: #6f2036;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

.exam-modal-question-type-box {
  margin-top: 40px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.exam-modal-question-type-box p {
  color: #6f2036;
  font-size: 17px;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.exam-modal-question-type-box input {
  font-size: 17px;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border: none;
}

.exam-modal-hardness-title {
  color: #6f2036;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

.exam-modal-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
}

.exam-modal-container-first-div {
  width: 48%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.exam-modal-container-second-div {
  width: 48%;
  margin-top: 40px;
}

.exam-modal-hardness-levels {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.exam-modal-hardness-levels p {
  padding: 15px;
  background-color: #f3f3f3;
  color: #6f2036;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-left: 10px;
}

.exam-modal-hardness-levels > :first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 0px;
}

.exam-modal-hardness-levels > :last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.exam-modal-hardness-levels p:hover {
  transform: scale(1.05);
}

.exam-modal-generate-button {
  background-color: #6f2036;
  color: #fff;
  padding: 20px;
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
}

.exam-modal-minutes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.exam-modal-minutes input,
.exam-modal-date input {
  width: 100%;
}

.exam-modal-date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@media only screen and (max-width: 1300px) {
  .exam-modal-question-type-box,
  .exam-modal-container {
    flex-direction: column;
  }

  .exam-modal-container-first-div,
  .exam-modal-container-second-div,
  .exam-modal-generate-button,
  .exam-modal-question-type-box p,
  .exam-modal-question-type-box input,
  .exam-modal-date input,
  .exam-modal-minutes input {
    width: 100%;
  }

  .exam-modal-question-type-box input {
    margin-top: 15px;
  }
}
