.header {
    position: fixed;
    top: 0px;
    width: 100vw;
    border-bottom: 1.5px solid var(--border-fade);
    background: white;
    z-index: 1;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr auto;
    height: 65px;
    align-items: center;
    padding: 0px 15px;

    user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

.header-logo {
    position: relative;
    display: grid;
}

.header-logo > img {
    height: calc( 65px * 0.7 );
}

.header-action-bar {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-gap: 20px;
    align-items: center;
}

.user-image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
}

.user-image img{
    margin-top: -10px;
    margin-left: -20px;
    height: 50px;
    width: 90px;
    place-self: center;
}

.username {
    font-size: 1.13em;
    color: var(--accent);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr auto;
}

.username > *:nth-child(2){
    text-transform: uppercase;
    font-size: 0.5em;
    font-weight: bolder;
    letter-spacing: 0.5px;
    text-shadow: 0px 0px 1px yellow;
}

.icon {
    cursor: pointer;
    align-self: center;
    height: 20px;
    filter: invert(17%) sepia(35%) saturate(2414%) hue-rotate(308deg) brightness(96%) contrast(96%);
}