.pdf-viewer-overlay{
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(63, 63, 63, 0.8);
  justify-items: center;
  z-index: 100;
}

.pdf-viewer {
  position: absolute;
  width: 80%;
  height: 90%;
  bottom: 0px;
  background-color: rgb(141, 141, 141);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0,0.06) 0px 0px 0px 1px; 
}

.pdf-frame{
  border: none;
}

.close-button {
  right: calc( 10% + 20px );
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
}