.popup {
    position: relative;
    box-shadow: var(--boxshadowD);
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    background: white;
    width: 600px;
    min-height: 500px;
    transition: 0.4s;
    overflow: hidden;
}

.overlay{
    position: fixed;
    background: #000000D0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    top: 0px;
    left: 0px;
    display: none;
    place-items: center;
    z-index: 10;
}

.inner-overlay{
    background: white;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    padding: 50px;

    max-height: 100%;
    overflow: scroll;
    display: none;
}

.back-arrow {
    height: 50px;
    margin-bottom: 50px;
}

.back-arrow img {
    height: inherit;
}

.pop-up-title{
    font-size: 1.3em;
    color: var(--accent);
    font-weight: 400;
    justify-self: start;
    padding: 0.2em 0em;
    line-height: 1.3em;
}

.popup .close-button {
    right: 20px;
    top: unset;
}

.popup-header, .popup-body, .popup-footer{
    position: relative;
    padding: 0.7em 2em;
    margin: 0px;
    border-bottom: 2px solid var(--border-fade);
    width: 100%;
    display: grid;
    place-items: center;
    grid-gap: 50px;
    box-sizing: border-box;
    align-self: start;
}

.popup-body { border-bottom: none; padding: 2em; }

.popup-footer { 
    border-bottom: none;
    place-items: center;
    padding: 1em 2em 2em 2em;
}