.take-quiz-overlay {
    padding: 100px 20px;
}

.question-area {
    display: grid;
    grid-gap: 39px;
    width: 100%;
}

.question-header{
    width: 100%;
    color: var(--accent);
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
}

.question {
    width: 100%;
    color: var(--accent);
    font-weight: 500;
    font-size: 1.3em;
    background: #C7003710;
}

.quiz-popup-body {
    grid-gap: 26px;
}

.answer-options-list {
    display: grid;
    width: 100%;
    font-size: 16px;
    color: var(--medium-gray);
    border-color: var(--medium-gray);
    grid-gap: 20px;
}

.answer-options-list .active {
    color: var(--accent);
}
.answer-options-list .inactive .letter-option{
    border-color: var(--accent);
}

.answer-option-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all;
}.answer-option-container:hover {
    color: var(--accent);
    opacity: 1;
    transform: scale(0.99);
    transition: 0.3s all;
}.answer-option-container:hover .letter-option{ border-color: var(--accent);}

.letter-option {
    display: grid;
    text-align: center;
    border: 3px solid black;
    border-color: inherit;
    border-radius: 5px;
    place-content: center;
    font-weight: 500;
    font-size: 16px;
    height: 40px;
    width: 40px;
    text-transform: uppercase;
}

.quiz-popup .button {
    padding: 13px 26px;
}

.quiz-button-group {
    width: 100%;
    place-items: end;
}.quiz-button-group > *:first-child{ place-self: start; }

.submit-footer{
    border-top: 1px solid var(--medium-gray);
    padding: 20px;
    display: none;
}

.quiz-results-body{
    display: none;
    color: var(--accent);
}

.quiz-result-area{
    display: grid;
    grid-gap: 20px;
}

.text-divider {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 13px;
}

.total-quiz-mark, .earned-quiz-mark{
    font-size: 1.3em;
    font-weight: 200;
    color: var(--accent);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 13px;
    justify-items: start;
}

.total-quiz-mark-placeholder, .earned-quiz-mark-placeholder {
    font-weight: 600;
}

.quiz-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    width: unset;
    justify-self: start;
    align-items: center;
}

.quiz-delete-button {
    justify-self: start;
    height: 30px;
    width: 30px;
    background-color: #C70037;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.quiz-delete-button img {
    height: 15px;
    filter: invert(100%);
}

.quiz-row-container {
    border: 2px solid var(--medium-gray);
    padding: 13px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    justify-self: start;
    color: var(--dark-gray);
}

.quiz-row-name {
    height: 100%;
    display: grid;
    align-content: center;
}







h3 {
    font-weight: 400;
    font-size: 0.9em;
    color: var(--accent);
}


.edit-quiz-button-group{
    width: 100%;
    place-items: center;
    grid-template-columns: auto 1fr auto;
}
.edit-quiz-button-group > *:first-child { place-self: start; }
.edit-quiz-button-group > *:last-child { place-self: end; }

.grid-view-button {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: transparent;
    display: grid;
    place-items: center;
    transition: 0.5s all;
    cursor: pointer;
}.grid-view-button:hover{ background: var(--accent); }
.grid-view-button:hover img { filter: invert(100%); }

.grid-view-button img {
    height: 15px;
    width: 15px;
    filter: invert(17%) sepia(35%) saturate(2414%) hue-rotate(308deg) brightness(96%) contrast(96%);
}

.space-two-column-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
}

.generate-quiz-popup-body{
    width: 100%;
    justify-items: start;
}

.popup-mini-section{
    display: grid;
    grid-gap: 10px;
    width: 100%;
}

.language-selection-quiz {
    justify-items: start;
    grid-template-columns: auto auto 1fr;
}

.button.active {
    transform: scale(1);
}

.button.inactive {
    color: var(--accent);
    border: 3px solid var(--accent);
    background: transparent;
    opacity: 0.5;
}

.mini-message-display{
    color: white;
    padding: 8px 8px;
    font-size: 0.40em;
    background: var(--pop);
    border-radius: 5px;
    justify-self: start;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.save-button{
    position: absolute;
    right: 10px;
    align-self: center;
}

.tf-options-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 10px 40px;
}

.button.tf-answer-option {
    opacity: 0.7;
    background: var(--light-gray);
    border: 2px solid var(--medium-gray);
    font-weight: 800;
    color: var(--dark-gray);
}


.button.tf-answer-option.active, .button.tf-answer-option:hover {
    opacity: 1;
    background-color: var(--accent);
    color: white;
    border-color: var(--accent);
    transition: scale(1.3);
}

.fitb-answer-option-container{
    display: grid;
    width: 100%;
}

.fitb-answer-input{
    display: grid;
    border: 2px solid var(--medium-gray);
    padding: 13px;
    font-size: 0.9em;
    color: var(--medium-gray);
    border-radius: 5px;
    outline: none;
}

.fitb-answer-input.active, .fitb-answer-input:focus{
    border: 2px solid var(--accent);
    color: var(--accent);
}