:root{
    --accent: #6F2036;
    --pop: #C70037;
    --border-shade: #6F203620;
    --border-fade: #6F203620;

    --light-accent: #FFF7F9;
    --dark-accent: rgb(211, 183, 190);
}

*,
*::before,
*::after {
    font-family: Avenir Next;
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

.outer-container {
    height: 100%;
    display: inline-block;
}

.main-container {
    width: calc(100vw - 300px);
    height: calc(100vh - 65px);
    display: grid;
    float: left;
    padding: 20px 25px;
    align-items: start;
    grid-template-rows: auto 1fr;
    grid-gap: 50px;
    position: relative;
}

.medium-title {
    font-size: 1.3em;
    color: var(--accent);
}

.regular-icon {
    height: 24px;
}

.button {
    padding: 10px 26px;
    color: white;
    background: var(--accent);
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    place-items: center;
    text-align: center;
}

.inner-header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.grid-container {
    display: grid;
    grid-gap: 30px;

    /* TODO: Remove */
    margin-top: 40px;
} 

.two-column-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.loader {
    --sk-color: var(--accent);
    display: grid;
    height: 100%;
    place-items: center;
}

.button-group{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.close-button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: var(--accent);
    position: absolute;
    top: calc( 10% + 20px );
    z-index: 10;
    cursor: pointer;
    transition: 0.3s all;
}

.close-button:hover {
    transform: scale(1.13);
}

.close-button:hover img {
    transform: scale(0.85);
}

.close-button img {
    height: 10px;
    width: 10px;
    transition: 0.3s all;
}

.upload-input{
    display: none;
}   

.side-by-side-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
}

.min-max-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}