@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --accent: #6F2036;
    /* --accent: #8B2B46; */
    --pop: #C70037;
    --border-shade: #6F203620;
    --border-fade: #6F203620;

    --light-accent: #FFF7F9;
    --dark-accent: rgb(211, 183, 190);

    --dark-gray: #646D76;
    --medium-gray: #D0D7DE;
    --light-gray: #F4F4F4;
    --off-white: #F6F8FA;
}

*,
*::before,
*::after {
    font-family: Inter, Avenir Next;
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

.user-select-none {
    user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

.disable-cursor-for-children-elements div, .disable-cursor-for-children-elements button {
    cursor: default;
}

body {
    width: 100vw;
}

a {
    text-decoration: none;
}

.large-title {
    color: var(--accent);
    font-weight: 600;
}

.simple-grid {
    display: grid;
    grid-gap: 20px;
}

.outer-container {
    height: 100%;
    display: inline-block;
}

.main-container {
    width: calc(100vw - 300px);
    height: calc(100vh - 65px);
    display: grid;
    padding: 20px 25px;
    align-items: start;
    grid-template-rows: auto 1fr;
    grid-gap: 50px;

    position: absolute;
    left: 300px;
    top: 65px;
}

.medium-title {
    font-size: 1.3em;
    color: var(--accent);
}

.regular-icon {
    height: 24px;
}

.button {
    padding: 10px 26px;
    color: white;
    background: var(--accent);
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 0.8em;
    transition: 0.3s;
    border: none;
}.button:hover {
    transform: scale(1.07);
}

.button.disabled, button[disabled]{
    background-color: var(--light-gray);
    color: var(--medium-gray);
    cursor: not-allowed;
} button[disabled]:hover {
    transform: scale(1);
}

.green-button{
    background: #1E883E;
}

.objectives-action-buttons {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-gap: 11px;
}

.save-learning-objectives-button {
    border-radius: 25px;
}

.circular-button.reload-objectives {
    position: relative;
}

.circular-button.reload-objectives img {
    filter: invert(100%);
    height: 15px;
    width: 15px;
}

.inner-header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.grid-container {
    display: grid;
    grid-gap: 30px;

    /* TODO: Remove */
    margin-top: 40px;
} 

.two-column-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    align-items: start;
}

.centered-container{
    display: grid;
    place-self: center;
    grid-column: 1/-1;
    grid-row: 1/-1;
    grid-gap: 20px;
    place-items: center;
    height: 100%;

    grid-template-rows: repeat(auto-fill,minmax(100px, 150px));
}

.loader {
    --sk-color: var(--accent);
    display: grid;
    height: 100%;
    place-items: center;
}

.button-group{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.close-button, .circular-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: var(--accent);
    position: absolute;
    cursor: pointer;
    transition: 0.3s all;
} .close-button {
    top: calc( 10% + 20px );
    z-index: 10;
}

.close-button:hover, .circular-button:hover {
    transform: scale(1.13);
}

.close-button:hover img, .circular-button:hover img {
    transform: scale(0.85);
}

.close-button img, .circular-button img {
    height: 10px;
    width: 10px;
    transition: 0.3s all;
}

.upload-input{
    display: none;
}   

.side-by-side-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
}

.min-max-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

.editable {
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    cursor: text;
    outline: none;
    display: grid;
    align-content: center;
    color: var(--accent);
    padding: 13px;
}

.editable:hover{
    border-color: var(--accent);
    cursor: pointer;
    border-style: dashed;
}

.editable:focus {
    border-color: var(--accent);
    border-style: solid;
}

.loader-view {
    position: absolute;
    height: 100%;
    width: 100%;
    --sk-color: var(--accent);
    --sk-size: 50px;
    background: var(--light-accent);
    z-index: 10;
    display: grid;
    place-items: center;
}
.loader-view > * {
    display: grid;
    place-items: center;
    grid-gap: 40px;
}

.loader-view p {
    color: var(--accent);
}

.loading-overlay {
    --sk-size: 50px;
    --sk-color: var(--accent);
    --pop: #C70037;

    position: fixed;
    top: 0px;
    background-color: white;
    display: grid;
    height: 100vh;
    width: 100vw;
    place-items: center;
    z-index: 9999 !important;
    transition: 1s;
}

.loading-message{
    color: var(--pop);
    cursor: default;
    max-width: 300px;
    text-align: center;
}

.overlay-inner-container{
    display: grid;
    grid-gap: 40px;
    place-items: center;
}

.safe-element-padding .close-button{
    position: relative;
    top: unset;
    right: unset;
}

.safe-element-padding {
    position: relative;
    display: grid;
    justify-items: center;
    grid-gap: 20px;
}

.mini-title {
    grid-column: 1/-1;
    color: var(--pop);
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.line-divider{
    grid-column: 1/-1;
    border: 1px solid var(--pop);
    margin: 10px 100px;
    position: relative;
}

.line-divider::before, .line-divider::after{
    content: "";
    position: absolute;
    top: -5px;
    left: -10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid var(--pop);
}

.line-divider::after {
    left: unset;
    right: -10px;
}

.alert-badge, .green-badge{
    color: white;
    background-color: var(--pop);
    padding: 3px 9px;
    font-size: 9px;
    border-radius: 5px;
}

.green-badge {
    background-color: #1E883E;
}

.auto-two-column-grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.empty-view {
    display: grid;
    border: 2px solid var(--medium-gray);
    border-radius: 5px;
    padding: 13px;
    grid-gap: 20px;
    color: var(--medium-gray);
    height: 100%;
    place-content: center;
    grid-template-columns: 1fr;
    text-align: center;
    box-sizing: border-box;
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.view:has(.empty-view){
    height: 100%;
}

.make-shift-input-wrapper {
    position: relative;
}