.video-viewer-overlay{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(63, 63, 63, 0.8);
    place-items: center;
    z-index: 100;
  }

  .close-button {
    right: calc( 10% + 20px );
  }
  
  .clickable {
    cursor: pointer;
    text-decoration: underline;
  }