*,
*::after,
*::before {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
} 
/* TODO: Recheck Classes */
/* TODO: Recheck Root Variables */
/* TODO: Recheck Image Imports */

*[data-show="true"] {
    display: grid;
}

*[data-show="false"] {
    display: none;
}

body > * {
    font-family: Avenir Next;
}

.gantt-container {
    width: 100%;
    position: relative;
    list-style: none;
}

.gantt-center-content { z-index: 10 !important; }

.gantt-row { 
    width: auto; 
    position: relative; 
    margin-bottom: 20px; 
    cursor: pointer; 
    min-width: 150px;
}
.gantt-row:last-child { margin-bottom: 0px; }

.gantt-bar {
    --bar-color: var(--blue);
    --bar-color: black;
    position: relative;
    width: 100%;
    background: white;
    border: 1px solid var(--bar-color);
    border-radius: 5px;
    min-height: 35px;
    font-weight: 600;
    font-size: 0.7em;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: grid;
    place-content: center;
    color: var(--bar-color);

    padding: 13px;
    line-height: 1.6em;
    word-break: break-all;
}
.gantt-bar > * { letter-spacing: normal; }

.gantt-row[data-complete="true"] > .gantt-bar {
    --bar-color: var(--approved);
}

.gantt-bar > .progress {
    position: absolute;
    height: 2px;
    background: var(--black-gradient);
    bottom: -2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.gantt-bar > .progress::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background: var(--blue);
    background: black;
    border-radius: 50%;
    top: -4px;
    /* left: calc(100% - 5px); */
}

.gantt-row[data-complete="true"] > .gantt-bar > .badge { --bar-color: var(--approved); }
.gantt-row[data-complete="true"] > .gantt-bar > .progress { height: 0px;  --bar-color: var(--approved) ; }
.gantt-row[data-complete="true"] > .gantt-bar > .progress::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--bar-color);
    background-image: url(../images/check.png);
    background-size: 8px;
    background-repeat: no-repeat;
    border-radius: 50%;
    top: -13px;
    margin-left: -13px;

    background-position: center center;
    box-sizing: content-box;
    border: 3px solid white;
} 

.gantt-row[data-complete="overdeadline"] > .gantt-bar { --bar-color: var(--error);}
.gantt-row[data-complete="overdeadline"] > .gantt-bar > .badge{ background: var(--error); }
.gantt-row[data-complete="overdeadline"] > .gantt-bar > .progress{ height: 0px; width: 100% !important; background: var(--error) ; }
.gantt-row[data-complete="overdeadline"] > .gantt-bar > .progress::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: inherit;
    background-image: url(../images/close.png);
    background-size: 8px;
    background-repeat: no-repeat;
    border-radius: 50%;
    top: -13px;
    margin-left: -13px;

    background-position: center center;
    box-sizing: content-box;
    border: 3px solid white;
} 

.gantt-bar > .badge {
    position: absolute;
    height: 20px;
    width: 20px;
    background: var(--bar-color);
    color: white;
    font-size: 10px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    top: -13px;
    right: -13px;
    box-sizing: content-box;
    border: 3px solid white;
}

.gantt-row:hover + .divider { height: 30px; }

.gantt-row:hover > .gantt-dates { opacity: 1; }

.divider {
    width: 100%;
    background: transparent;
    height: 0px;
    transition: 0.5s all;
}

.gantt-dates {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: calc(100% + 10px);
    width: 100%;
    opacity: 0;
    transition: 0.5s all;
}

.end-date, .start-date {
    padding: 3px 10px;
    box-shadow: var(--boxshadowD);
    border-radius: 7px;
    font-size: 11px;
}

.start-date { justify-self: start; }

.end-date { justify-self: end; }

.back-button {
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}