    <div class="outer-main-classroom-container">

        <div class="main-classroom-lecture-container">

            <div class="main-classroom-lecture-header">Lecture 1</div>
    
            <div class="main-classroom-lecture-inner-container">
    
                <div class="main-classroom-subtopic-container">
                    <div class="main-classroom-subtopic-header">
                        Introduction to Robotics
                    </div>
    
                    <div class="main-classroom-subtopic-item">
                        <div class="row-item-icon">
                            <img src="../assets/icons/pdf.png" alt="">
                        </div>
                        <div class="row-item-text">Introduction Notes</div>
                        <div class="row-item-action">view</div>
                    </div>
    
                    <div class="main-classroom-subtopic-item">
                        <div class="row-item-icon">
                            <img src="../assets/icons/play.png" alt="">
                        </div>
                        <div class="row-item-text">Introduction Video</div>
                        <div class="row-item-action">play</div>
                    </div>
    
                    <div class="main-classroom-subtopic-item">
                        <div class="row-item-icon">
                            <img src="../assets/icons/globe.png" alt="">
                        </div>
                        <div class="row-item-text">More about lecture 1</div>
                        <div class="row-item-action">open</div>
                    </div>
                </div>

                <div class="main-classroom-subtopic-container">
                    <div class="main-classroom-subtopic-header">
                        What are Robots
                    </div>
    
                    <div class="main-classroom-subtopic-item">
                        <div class="row-item-icon">
                            <img src="../assets/icons/pdf.png" alt="">
                        </div>
                        <div class="row-item-text">Robot Notes</div>
                        <div class="row-item-action">view</div>
                    </div>

                    <div class="main-classroom-subtopic-item">
                        <div class="row-item-icon">
                            <img src="../assets/icons/image.png" alt="">
                        </div>
                        <div class="row-item-text">Robot Image</div>
                        <div class="row-item-action">view</div>
                    </div>
    
                    <div class="main-classroom-subtopic-item">
                        <div class="row-item-icon">
                            <img src="../assets/icons/play.png" alt="">
                        </div>
                        <div class="row-item-text">Robot Video</div>
                        <div class="row-item-action">play</div>
                    </div>
    
                    <div class="main-classroom-subtopic-item">
                        <div class="row-item-icon">
                            <img src="../assets/icons/globe.png" alt="">
                        </div>
                        <div class="row-item-text">More about Robots</div>
                        <div class="row-item-action">open</div>
                    </div>
                </div>
    
                <!-- TODO: rename class to main-classroom-quiz-container -->
                <div class="main-classroom-subtopic-container">
                    <div class="main-classroom-subtopic-item">
                        <div class="row-item-icon">
                            <img src="../assets/icons/quiz.png" alt="">
                        </div>
                        <div class="row-item-text">Quiz</div>
                        <div class="row-item-action quiz-action">start</div>
                    </div>
                </div>            
            </div>
        </div>

        <div class="main-classroom-lecture-container">

            <div class="main-classroom-lecture-header">Lecture 2</div>
    
            <div class="main-classroom-lecture-inner-container">
    
                <div class="main-classroom-subtopic-container">
                    <div class="main-classroom-subtopic-header">
                        Introduction to Robotics
                    </div>
    
                    <div class="main-classroom-subtopic-item">
                        <div class="row-item-icon">
                            <img src="../assets/icons/pdf.png" alt="">
                        </div>
                        <div class="row-item-text">Introduction Notes</div>
                        <div class="row-item-action">view</div>
                    </div>
    
                    <div class="main-classroom-subtopic-item">
                        <div class="row-item-icon">
                            <img src="../assets/icons/play.png" alt="">
                        </div>
                        <div class="row-item-text">Introduction Video</div>
                        <div class="row-item-action">play</div>
                    </div>
    
                    <div class="main-classroom-subtopic-item">
                        <div class="row-item-icon">
                            <img src="../assets/icons/globe.png" alt="">
                        </div>
                        <div class="row-item-text">More about lecture 1</div>
                        <div class="row-item-action">open</div>
                    </div>
                </div>
    
                <div class="main-classroom-subtopic-container">
                    <div class="main-classroom-subtopic-item">
                        <div class="row-item-icon">
                            <img src="../assets/icons/quiz.png" alt="">
                        </div>
                        <div class="row-item-text">Quiz</div>
                        <div class="row-item-action quiz-action">start</div>
                    </div>
                </div>            
            </div>
        </div>
    </div>