<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>

    <link rel="stylesheet" href="../css/root.css">
    <link rel="stylesheet" href="../css/card.css">
</head>
<body>

    <div class="course-card">

        <div class="course-card-image">
            <img src="../uploads/1708678280.png" alt="">
        </div>

        <div class="card-text">
            <div class="course-card-code">C003</div>
            <div class="course-card-title">Electromagnetical Waves</div>
        </div>

        <div class="card-overlay"></div>
    </div>

    <style>

    </style>
    
</body>
</html>