<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom</title>
    <link rel="stylesheet" href="../css/translation.css">
    <link rel="stylesheet" href="../css/root.css">
    <link rel="stylesheet" href="../css/pdf-viewer.css">
    <link rel="stylesheet" href="../css/image-viewer.css">
    <link rel="stylesheet" href="../css/classroom.css">

    <script src="../js/functions.js"></script>
    <script src="../js/localize.js" defer></script>
    <script src="../js/pdf-viewer.js" defer></script>
    <script src="../js/image-viewer.js" defer></script>
    <script src="../js/Course.js" defer></script>

    <script src="../js/Classroom.js" defer></script>

    <link rel="stylesheet" href="../css/spinkit.css">
    <link rel="stylesheet" href="../css/popup.css">
</head>
<body>

    <!-- <?php include 'editCourse.php' ?> -->

    <div class="classroom-outer-container">
        <div class="classroom-course-title">Water Theory</div>
        <div class="classroom-course-code">C005</div>

        <div class="outer-main-classroom-container"></div>

    </div>

    <style>

        body {
            padding: 100px 50px 40px 300px;
        }

    </style>

    <script>

        renderCourseOutline("lshj44zm");

    </script>

</body>
</html>