<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
    <link rel="stylesheet" href="../css/translation.css">
    <link rel="stylesheet" href="../css/root.css">
    <link rel="stylesheet" href="../css/courseManagement.css">
    <script src="../js/localize.js" defer></script>
    <script src="../js/functions.js" defer></script>
    <script src="Course.js" defer></script>
</head>
<body>

    <div class="inner-header">
        <div>
            <h1 class="medium-title" id="course-title"></h1>
            <p class="small-title" id="course-code"></p>
        </div>

        <div class="two-column-grid">
            <div class="button" id="saveCourseDetails">
                <text>Save</text>
            </div>
            <div class="button" id="addNewLecture">
                <text>Add New Lecture</text>
            </div>
        </div>
    </div>
    
    <div class="grid-container" id="course-grid-container">

    </div>

    <style>

        body {
            padding: 100px 50px 40px 300px;
        }


    </style>

</body>
</html>