<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
    <link rel="stylesheet" href="../css/translation.css">
    <link rel="stylesheet" href="../css/root.css">


    <script src="../js/functions.js"></script>
    <script src="../js/localize.js" defer></script>
    <script src="../js/Course.js" defer></script>
    <script src="../js/courseManagement.js" defer></script>

    <link rel="stylesheet" href="../css/courseManagement.css">
    <link rel="stylesheet" href="../css/spinkit.css">
    <link rel="stylesheet" href="../css/popup.css">
</head>
<body>

    <?php include 'editCourse.php' ?>

    <style>

        body {
            padding: 100px 50px 40px 300px;
        }

    </style>

    <?php include 'components/courseCreationOverlay.php' ?>

</body>
</html>