<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
    <link rel="stylesheet" href="../css/translation.css">
    <link rel="stylesheet" href="../css/root.css">


    <script src="../js/functions.js"></script>
    <script src="../js/localize.js" defer></script>
    <script src="../js/Course.js" defer></script>
    <script src="../js/courseManagement.js" defer></script>

    <link rel="stylesheet" href="../css/courseManagement.css">
    <link rel="stylesheet" href="../css/spinkit.css">
    <link rel="stylesheet" href="../css/popup.css">
</head>
<body>

    <div class="inner-header">
        <div>
            <h1 class="medium-title" id="course-title"></h1>
            <p class="small-title" id="course-code"></p>
        </div>

        <div class="two-column-grid">
            <div class="button" id="saveCourseDetails">
                <text>Save</text>
            </div>
            <div class="button" id="addNewLecture">
                <text>Add New Lecture</text>
            </div>
        </div>
    </div>
    
    <div class="grid-container" id="course-grid-container">
    </div>

    <style>

        body {
            padding: 100px 50px 40px 300px;
        }

    </style>

    <div class="overlay upload-overlay">
        <div class="popup">
            <div class="popup-header">
                <div class="close-button" onclick="closeUploadOverlay()">
                    <img src="../assets/icons/close.png" alt="">
                </div>
                <h1 class="pop-up-title">Upload Resource</h1> 
            </div>

            <div class="popup-body">

                <div class="upload-options-container">

                    <label for="imageUploadInput" class="upload-option">
                        <div class="circular-wrapper">
                            <img src="../assets/icons/fi/fi-rr-images.svg" alt="">
                        </div>
                        <p class="upload-option-description"><text>Image</text></p>
                        <input id="imageUploadInput" class="upload-input" type="file" accept="image/*" onchange="loadImageToPopupView(event, '#chosenPhoto')">
                    </label>

                    <!-- <label for="videoUploadInput" class="upload-option">
                        <div class="circular-wrapper">
                            <img src="../assets/icons/fi/fi-rr-clapperboard-play.svg" alt="">
                        </div>
                        <p class="upload-option-description"><text>Video</text></p>
                        <input id="videoUploadInput" class="upload-input" type="file" accept="video/mp4,video/x-m4v" onchange="loadVideoToPopupView(event, '#chosenPhoto')">
                    </label> -->

                    <label for="PDFUploadInput" class="upload-option">
                        <div class="circular-wrapper">
                            <img src="../assets/icons/fi/fi-rr-file-pdf.svg" alt="">
                        </div>
                        <p class="upload-option-description">PDF</p>
                        <input id="PDFUploadInput" class="upload-input" type="file" accept="application/pdf" onchange="loadPDFToPopupView(event, '#chosenPhoto')">
                    </label>

                    <!-- <label class="upload-option">
                        <div class="circular-wrapper">
                            <img src="../assets/icons/fi/fi-rr-world.svg" alt="">
                        </div>
                        <p class="upload-option-description"><text>Link</text></p>
                    </label> -->

                </div>

                <div class="upload-progress-container">
                    <div class="filename-container">
                        <p id="truncatedFilename"></p>
                        <div class="progress" id="global-progress-bar"></div>
                    </div>
                </div>
            </div>

            <div class="popup-footer">
                <div class="button-group">
                    <div class="button secondary-button" onclick="revertUploadChoice()">Cancel</div>
                    <div class="button" onclick="startUploading()">Attach</div>
                </div>
            </div>
        </div>

        <!-- <div class="upload-view">
            <img src="" alt="">
        </div> --> 
    </div>

</body>
</html>