<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/translation.css">
    <link rel="stylesheet" href="../css/root.css">
    <link rel="stylesheet" href="../css/pdf-viewer.css">
    <link rel="stylesheet" href="../css/image-viewer.css">
    <link rel="stylesheet" href="../css/classroom.css">
    <link rel="stylesheet" href="../css/scheduling.css">
    <link rel="stylesheet" href="../css/ebook.css?2">

    <script src="../js/functions.js"></script>
    <script src="../js/localize.js" defer></script>
    <script src="../js/pdf-viewer.js" defer></script>
    <script src="../js/image-viewer.js" defer></script>
    <script src="../js/Course.js" defer></script>

    <script src="../js/Classroom.js" defer></script>

    <link rel="stylesheet" href="../css/spinkit.css">
    <link rel="stylesheet" href="../css/popup.css">

    <link rel="stylesheet" href="../css/datepicker/datepicker.material.css">
    <script src="../js/datepicker.js"></script>
    <script src="../js/Ebooks.js?2"></script>

    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.5.141/build/pdf.min.js"></script>

</head>
<body>

    <div></div>
    <div class="ebooks-outer-container">
    </div>

    <canvas class="pdf-thumbnail"></canvas>

    <style>

        body {
            display: grid;
            height: 100vh;
            grid-template-columns: 300px 1fr;
        }

    </style>

    <script>

        // let SQLQuery = 
        
        // `
        // SELECT * FROM resources
        // WHERE type = '${}' AND subtopicID = '${}'
        
        // `
        
        // ;

        function fetchDataFromQuery(SQLQuery){

            return AJAXCall({
                phpFilePath: "../include/SQLRunner.php",
                rejectMessage: "Running Query Failed",
                params: `query=${SQLQuery}`,
                type: "fetch"
            });

        }

            const initialReportState = { // duplicate ... move
                pdfDoc: null,
                currentPage: 1,
                pageCount: 0,
                zoom: 3,
            };

            ( async () => {

                let { id } = await getUserDetails();

                console.log(id);

                let resourcesResult = await AJAXCall({
                    phpFilePath: "../include/course/getResourcesForUser.php",
                    rejectMessage: "Running Query Failed",
                    params: `id=${id}`,
                    type: "fetch"
                });

                console.log(resourcesResult);

                let reMapped = resourcesResult.map( course => {

                    let ebooks = [];

                    course.lectures.forEach( lectures => 
                        
                        lectures.subtopics.forEach( subtopic => 

                            subtopic.resources.forEach( resource => 
                                resource.type == "application/pdf" ? ebooks.push({
                                    title: resource.title,
                                    value: resource.value
                                }) : false
                            )

                        )

                    )
                    
                    return {
                        title: course.title,
                        courseCode: course.courseCode,
                        ebooks
                    }
                })

                console.log("reMapped: ", reMapped);

                let result = [{
                    title: "Introduction to C++",
                    courseCode: "C453",
                    ebooks: [
                        { title: "Introduction to Basics and Variables", value: "1707638783.pdf", lecture: "", subtopic: ""},
                        { title: "Introduction to Basics and Variables", value: "1707638783.pdf" },
                        { title: "Super long title that no one will ever have as a pdf title but what the hell, let's break the layout", value: "1707638783.pdf" },
                        { title: "Introduction to Basics and Variables", value: "1707638783.pdf" },
                        { title: "Introduction to Basics and Variables", value: "1707638783.pdf" },
                        { title: "Introduction to Boring Things for Boring People", value: "1707638783.pdf" },
                        { title: "How to Eat for beginners", value: "1707638783.pdf" },
                        { title: "Ha, you think you can code?", value: "1707638783.pdf" },
                    ]
                },
                {
                    title: "Introduction to C++",
                    courseCode: "C453",
                    ebooks: [
                        { title: "Introduction to Basics and Variables", value: "1707638783.pdf" },
                        { title: "Introduction to Basics and Variables", value: "1707638783.pdf" },
                        { title: "Introduction to Basics and Variables", value: "1707638783.pdf" },
                        { title: "Introduction to Basics and Variables", value: "1707638783.pdf" },
                    ]
                }
            ]

                let ebooks = new Ebooks(reMapped);
                ebooks.renderEbooks();

            })();

            // Viewer

            async function renderPDFShot(canvasElementClass){
  
                initialReportState.pdfDoc
                .getPage(initialReportState.currentPage)
                .then((page) => {
                    const canvas = document.querySelector(canvasElementClass);
                    const ctx = canvas.getContext('2d');
                    const viewport = page.getViewport({
                        scale: initialReportState.zoom,
                    });

                    viewport.transform[4] -= 200;
                    viewport.transform[5] -= 200;

                    canvas.height = viewport.height / 2;
                    canvas.width = viewport.width / 2;

                    // Render the PDF page into the canvas context.
                    const renderCtx = {
                        canvasContext: ctx,
                        viewport: viewport,
                    };
                
                    page.render(renderCtx);
                });
            };


    </script>
    
</body>
</html>