<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Table</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/grid-table.css">
</head>
<body>

    <div class="center-content">

        <h1 class="section-title">Managers</h1>

        <div class="extended-wrapper">
            <div class="grid-table-section user-table">
                <ul class="grid-header" data-title="header">
                    <li class="fixed100">#</li>
                    <li class="fixed100">Name</li>
                    <li class="fixed100">Email</li>
                    <li class="fixed100">Current</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                </ul>

                <ul class="grid-row">
                    <li class="itemization-badge fixed100"></li>
                    <li class="fixed100">Munim</li>
                    <li class="fixed100">40</li>
                    <li class="fixed100">40</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                </ul>

                <ul class="grid-row">
                    <li class="itemization-badge fixed100"></li>
                    <li class="fixed100">Munim</li>
                    <li class="fixed100">40</li>
                    <li class="fixed100">40</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                    <li class="fixed100">...</li>
                </ul>

            </div>

            <div class="slide-to-scroll">scroll / slide → </div>
        </div>
    </div>
    
</body>
</html>