<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer</title>
</head>
<body>

    <div class="timer"></div>

    <style>

        *{
            font-family: Avenir Next;
            margin: 0 0;
            padding: 0 0;
        }

        .timer {
            background: #000;
            color: white;
            padding: 50px;
            font-size: 30px;
        }
    </style>

    <script>

        class Timer {

            timerValue = 0
            hours = 0
            minutes = 0
            seconds = 0
            timerInterval
            timerElement

            constructor(timerValue, timerElement){
                this.timerValue = timerValue
                this.timerElement = timerElement
                this.seconds = timerValue * 60
            }

            start(){
                this.setTimerInterval();
            }

            displayTime({ hours, minutes, seconds }){
                this.timerElement.textContent = `${String(hours).padStart(2, "0")}:${String(minutes).padStart(2, "0")}:${String(seconds).padStart(2, "0")}`;
            }

            reduceTimer(){
                const hours = Math.floor(this.seconds / 60 / 60);
                const minutes =  Math.floor(this.seconds / 60) % 60;
                // console.log("minutes: ", minutes);
                const seconds = this.seconds % 60;
                // console.log("seconds: ", seconds);
                if(this.seconds > 0) this.seconds--;
                else {
                    this.clearTimerInterval();
                }

                return { hours, minutes, seconds }
            }

            setTimerInterval(){
                this.timerInterval = setInterval(() => {
                    const { hours, minutes, seconds } = this.reduceTimer();
                    this.displayTime({ hours, minutes, seconds });
                }, 1000);
            }

            clearTimerInterval(){
                console.log("ran");
                clearInterval(this.timerInterval);
                this.done();
            }

            done(){
                console.log(this.timerElement)
                this.timerElement.style.background = 'red';
                this.timerElement.textContent = 'red'; // BUG???
            }
                       
        }

        let timerElement = document.querySelector(".timer");
        const timer = new Timer(0.1, timerElement);
        timer.start();

    </script>
    
</body>
</html>